.pc
*.o
*~

# expected names of the generated executable
einsteinbinary
einsteinbinary_BRP4

debian/.debhelper
debian/*stamp
debian/*.log
debian/boinc-app-eah-brp

debian/*.substvars
debian/files

# generated
debian/extra/app_info.xml

